/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #333;
  text-decoration: none;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3e3e3e;
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

.logo {
  font-family: 'roboto', sans-serif;
  font-size: 2rem;
  font-weight: 1000;
  text-transform: uppercase;

  background-image: linear-gradient(to right, #ffd700, #ff5733);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #ffd700;
}

.header-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #ffd700;
  color: #3e3e3e;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.header-button:hover {
  transform: scale(1.05);
}

/* Gallery styles */

.gallery {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.gallery::before,
.gallery::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
  z-index: 10;
}

.gallery::before {
  left: 0;
  background-image: linear-gradient(to right, #f8f8f8, transparent);
}

.gallery::after {
  right: 0;
  background-image: linear-gradient(to left, #f8f8f8, transparent);
}

.gallery .image-container {
  display: flex;
  flex-wrap: nowrap;
  animation: scrollAnimation 10s linear infinite; 
  /* Adjust animation duration here */
}

.gallery img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(49, 49, 49, 0.5);
  filter: grayscale(20%);
  transition: all 0.5s ease-in-out;
  margin-right: 15px;
}

.gallery img:hover {
  filter: none;
  transform: scale(1.05);
}

@keyframes scrollAnimation {
  0% {
    width: 250px;
    transform: translateX(10%);
  }
  100% {
    width: 250px;
    transform: translateX(calc(-0% - 120px));
  }
}


/* About Us styles */
.aboutus {
  text-align: center;
  padding: 20px;
}

.aboutus h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.summary p {
  margin-bottom: 1rem;
}

.summary ol {
  margin-bottom: 2rem;
}

.summary li {
  margin-bottom: 1rem;
}

/* Roadmap styles */
.roadmap {
  text-align: ;
  padding: 20px;
}


.roadmap h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

/* Contact styles */
.contact {
  text-align: center;
  padding: 20px;
}

.contact h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}
