/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3e3e3e;
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #ffd700;
}

.header-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #ffd700;
  color: #3e3e3e;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.header-button:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: calc(100vh - 120px);
  overflow: auto;
}

.gallery {
  background-color: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.image-container {
  padding: 75px 0;
  margin: 10px;
}

.image-container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.aboutus {
  padding: 100px 0;
  text-align: center;
}

.aboutus h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  font
